.history-table-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.history-table-element {
  width: 100%;
 
  padding: 15px;
  margin: 10px 0;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.history-table-element-date,
.history-table-element-height,
.history-table-element-groundType,
.history-table-element-location,
.history-table-element-coordinates
 {
  font-size: 18px;
  padding: 5px;
  color: #333;
}
.history-table-element-safeDistance {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  color: #d61212;
}
.history-table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-sizing: border-box;
}
.history-table-element-header {
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
  color: #333;
}

.history-table-element-method {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #2196F3;
  padding: 4px 12px;
  border-radius: 12px;
  display: inline-block;
}

.history-table-element-method-critical {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #f44336;
  padding: 4px 12px;
  border-radius: 12px;
  display: inline-block;
}
.back-button-section {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin-top: 20px;
  padding:10px 20px;
}