.App-header {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header-title-section {
  width: 100%;
  background-color: rgb(110, 77, 59);
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.info-video{
  width: 50%;
  height: 50%;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}
.info-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  box-sizing: border-box;
}